<div id="configManage" class="config-manage">
    <div class="express-cost">
        <div id="topNav" class="top-nav">
            <div class="path">
                快递成本
            </div>
        </div>
        <div id="content" class="content">
            <div class="advance-search">
                <div class="items">
                    <div class="ipt">
                        <label class="item">
                            <span class="title">仓库名称</span>
                            <input type="text" class="klw-input" ng-model="formData.productName">
                        </label>
                        <label class="item">
                            <span class="title">快递名称</span>
                            <input type="text" class="klw-input" ng-model="formData.productNo">
                        </label>
                        <label class="item">
                            <span class="title">省份</span>
                            <input type="text" class="klw-input" ng-model="formData.typeNo">
                        </label>
                        <div class="oprate line fl">
                            <span class="blue">搜索</span>
                            <span>清空</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="topTable" class="top-table cf">
                <div class="table-oprate fl">
                    <button ng-click="advanceSearch()" class="svg2">批量操作</button>
                    <button class="svg2" ng-click="clearOnly()"><a ui-sref="index.newExpressCost">新增</a></button>
                    <button class="svg2" ng-click="clearOnly()">导入</button>
                    <button class="svg2" ng-click="clearOnly()">导出</button>
                </div>
                <div class="fr">
                    <div id="headerPage" class="line">
                        <span>1</span>-<span>10</span>/共<span>435</span><img src=""/><img src=""/>
                    </div>
                    <button id="tableConfig">列表配置</button>
                </div>
            </div>
            <table cellspacing="0">
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>序号</th>
                    <th>操作</th>
                    <th>仓库名称</th>
                    <th>商品编码</th>
                    <th>商品名称</th>
                    <th>品牌</th>
                    <th>规格编码</th>
                    <th>规格名称</th>
                    <th>库存数</th>
                    <th>已配货数</th>
                    <th>订单占用数</th>
                    <th>调拨占用数</th>
                    <th>唯品占用数</th>
                    <th>可用数</th>
                    <th>可销数</th>
                    <th>在途数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td class="blue" ng-click="showModal('orderOccupyModal')">01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>02</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>03</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>04</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>05</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>06</td>
                </tr>
                </tbody>
            </table>
            <div class="footer">
                共<span>18765</span>行
                <div id="footerPage" class="footer-page">
                    <img src="">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                </div>
                每页行数
                <select>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                </select>
                跳到<input type="number">页
            </div>

        </div>
    </div>
</div>