<div id="configManage" class="config-manage">
    <div class="return-order-config" id="productConfig" ng-controller="productConfigController">
        <div id="topNav" class="top-nav">
            <div class="path">
                商品配置
            </div>
        </div>
        <div id="content" class="content">
            <div class="items">
                <div class="sel-item">
                    <span class="title">规格编码分隔符</span>
                    <input type="text" class="klw-input" ng-model="formData.skuSeparator">
                    <span class="detail">使用系统生成规格编码时系统在款号和规格编码中间自动加上设定的分隔符</span>
                </div>
                <div class="sel-item">
                    <div class="line" ng-click="checkItem('isSendWms')">
                        <div class="klwk-check-x" ng-show="formData.isSendWms"><i class="iconfont"></i></div>
                        <div class="klwk-check" ng-hide="formData.isSendWms"><i class="iconfont"></i></div>
                        <span class="title">商品推送WMS</span>
                        <span class="detail">勾选在审核的时候自动把商品转入WMS，否则不转入</span>
                    </div>
                </div>
                <div class="sel-item">
                    <div class="line" ng-click="checkItem('enabledSkuPrice')">
                        <div class="klwk-check-x" ng-show="formData.enabledSkuPrice"><i class="iconfont"></i></div>
                        <div class="klwk-check" ng-hide="formData.enabledSkuPrice"><i class="iconfont"></i></div>
                        <span class="title">启用SKU价格</span>
                        <span class="detail">勾选后商品价格按SKU进行维护，商品信息中价格调整不再自动更新到SKU</span>
                    </div>

                </div>
                <div class="sel-item">
                    <div class="line" ng-click="checkItem('isUseSCMTransit')">
                        <div class="klwk-check-x" ng-show="formData.isUseSCMTransit"><i class="iconfont"></i></div>
                        <div class="klwk-check" ng-hide="formData.isUseSCMTransit"><i class="iconfont"></i></div>
                        <span class="title">启用SCM在途</span>
                        <span class="detail">勾选后在途按SCM同步过来的数据</span>
                    </div>
                </div>
                <div class="sel-item">
                    <span class="title">主图店铺</span>
                    <div class="more-select" ng-click="showShopModal()">
                        <div class="select-content"><span>{{storeName}}</span><em><img src="../images/selebom.png"></em></div>
                    </div>
                    <span class="detail">下载铺货时会将此店铺的商品图片同步到商品信息</span>
                </div>
            </div>
            <div class="footer">
                <button class="btn btn-success btn-78" ng-click="save()">保存</button>
            </div>
        </div>

        <!--店铺选择弹框-->
        <div class="modal fade shop-modal" id="shopModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">店铺</h4>
                    </div>
                    <div class="modal-body">
                        <div class="cf">
                            <div class="fl left">
                                <i class="iconfont icon-search-blod"></i>
                                <input type="text" class="klw-search" placeholder="编码/名称">
                                <div class="thead">
                                    <span class="td" ng-click="selectAllStore()">
                                        <div class="klwk-check" ng-hide="isalldatacheck"><i class="iconfont"></i></div>
                                        <div class="klwk-check-x" ng-show="isalldatacheck"><i class="iconfont"></i></div>
                                    </span>
                                    <span class="td">编码</span>
                                    <span class="td">店铺名称</span>
                                </div>
                                <div class="tbody">
                                    <div class="tr" ng-repeat="item in storeList" ng-click="selectOneStore($index)">
                                        <div class="td oh">
                                            <div class="klwk-check" ng-hide="item.isdatacheck"><i class="iconfont"></i></div>
                                            <div class="klwk-check-x" ng-show="item.isdatacheck"><i class="iconfont"></i></div>
                                        </div>
                                        <span class="td oh">{{item.code}}</span>
                                        <span class="td oh">{{item.name}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="fl left right">
                                <div class="title">已选择</div>
                                <div class="thead">
                                    <span class="td">编码</span>
                                    <span class="td">店铺名称</span>
                                    <span class="td"></span>
                                </div>
                                <div class="tbody">
                                    <div class="tr" ng-repeat="item in selectStoreList">
                                        <span class="td oh">{{item.code}}</span>
                                        <span class="td oh">{{item.name}}</span>
                                        <div class="td oh" ng-click="deleteOneStore($index)">
                                            <i class="iconfont icon-close"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="showStores()">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
