<div id="configManage" class="config-manage">
    <div class="system-log" id="systemLog" ng-controller="systemLogController">
        <div id="content" class="content">
            <div class="advance-search">
                <div class="items cf">
                    <!--<div class="ipt cf">-->
                        <label class="item first">
                            <span class="title">制单时间</span>
                            <input type="text" class="klw-input line" id="beginDate" ng-model="formData.beginDate">
                            <div class="short-line"></div>
                            <input type="text" class="klw-input line" id="endDate" ng-model="formData.endDate">
                        </label>
                        <label class="item log-type">
                            <span class="title">日志类型</span>
                            <pull-select pull-config="logtypeList"></pull-select>
                        </label>
                    <!--</div>
                    <div class="ipt cf">-->
                        <label class="item log-type">
                            <span class="title">操作人</span>
                            <input type="text" class="klw-input" ng-model="formData.username">
                        </label>
                        <div class="oprate line fl">
                            <span class="blue" ng-click="query()">搜索</span>
                            <span ng-click="clearOnly()">清空</span>
                        </div>
                    <!--</div>-->
                </div>
            </div>
            <!--<div id="topTable" class="top-table">
                <div class="fr">
                    <div class="ti-pagination">
                        <span class="num"><span>{{first}}</span>-<span>{{last}}</span> </span>
                        / 共 <span>{{paginationConf.totalItems}}</span>
                        <span class="prev" ng-class="{disabled: conf.currentPage == 1}"><i class="iconfont"  ng-click="prev()"></i></span>
                        <span class="next" ng-class="{disabled: conf.currentPage == conf.numberOfPages}"><i class="iconfont" ng-click="next()"></i></span>
                        <span class="config-column"><i class="iconfont"></i></span>
                    </div>
                </div>
            </div>-->
            <div class="more-table" style="height: calc(100% - 120px);">
                <div class="ab-position">
                    <div class="all-table">
                        <table class="table-thead" cellspacing="0" style="width: calc(100% - 4px);">
                            <thead>
                            <tr>
                                <th ng-repeat="obj in theadList">{{obj.name}}</th>
                            </tr>
                            </thead>
                        </table>
                        <table id="mainTable" class="display" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th ng-repeat="obj in theadList">{{obj.name}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="obj in tableList">
                                <td ng-repeat="item in theadList">{{obj[item.tag]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="footer">
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>

        </div>
    </div>
</div>