<div id="addFbpSellOutputBill" class="jxOutDiv jxAdd" ng-controller="addFbpSellOutputBillController">
    <div class="jxOutDivContent">
        <div class="basic-message jxmessage form">
            <h3 class="addTitle">销售出库单基本信息</h3>

            <div class="rows rowsText">
                <p>批次号<span class="star">*</span></p>
                <p>出货仓库<span class="star">*</span></p>
                <p>销售时间</p>
                <p>店铺名称<span class="star">*</span></p>

            </div>
            <div class="rows rowsInput">
                <div>
                    <input type="text" class="klw-input validate" ng-model="formData.ScheduleNo"  name="empty"/>
                </div>
                <div>
                <pull-select pull-config="searchConfig.outWarehouse"></pull-select>
                </div>
                <div>
                    <input class="klw-input dateTime validate" type="text" name="empty" readonly ng-click="showDatetimePick($event)"
                           data-date-format="yyyy-mm-dd" ng-model="formData.PayDate">
                </div>
                <div>
                    <pull-select pull-config="searchConfig.storename"></pull-select>
                    <!--<search-select search-config="searchConfig.storename"></search-select>-->
                </div>
            </div>
            <div class="rows rowsText">
                <p>备注</p>
            </div>
            <div class="rows rowsInput">
                <div class="input100">
                     <input class="klw-input" type="text" ng-model="formData.Remark"/>
                </div>
            </div>
        </div>
        <div class="activity-merchandise jxmessage">
            <div class="messageTitle clear">
                <h3 class="addTitle">档期商品信息</h3>

                <div class="fr message-button">
                    <div class="add-detail" ng-click="addProduct('addActive')"><i class="iconfont"></i>新增活动商品</div>
                    <div class="btn  pl-import btn2" ng-click="isActiveShow('batchLead1')"><i class="iconfont"></i>导入
                    </div>
                    <div class="btn  delete-detail btn4"><i class="iconfont"></i>批量删除</div>
                </div>
            </div>
            <!-- 活动商品之button-->
            <div class="message-button" ng-show="false">
                <div class="add-detail" ng-click="isActiveShow('addActive')"><i class="iconfont"></i>新增活动商品</div>
                <div class="btn  pl-import btn2" ng-click="isActiveShow('batchLead1')"><i class="iconfont"></i>导入</div>
                <div class="btn  delete-detail btn4"><i class="iconfont"></i>批量删除</div>
            </div>

            <!-- 活动商品之详情界面 -->
            <div class="merchandise-details message-content">
                <!-- 新增活动商品详情-->
                <div class="addMerchandiseDetails" ng-show="addActive">
                    <div class="search360">
                        <input type="text" class="klw-search" placeholder="商品代码／商品名称／规格代码／规格名称"/>
                    </div>
                    <div class="clearfix">
                        <div class="addMerchandiseTable tableOut">
                            <table>
                                <thead>
                                <tr>
                                    <th>
                                        <label ng-click="domOperate.selectAll('productListTbody')">
                                            <i class="iconfont icon-sel" ng-class="{'icon-sel-zhengque':isalldatacheck}"></i>
                                        </label>
                                    </th>
                                    <th>序号</th>
                                    <th ng-repeat="list in productListThead">
                                        {{ list.name }}
                                    </th>
                                </tr>

                                </thead>
                                <tbody>
                                <tr ng-repeat="list in productListTbody" ng-click="getProductInfo(list)">
                                    <td>
                                        <label ng-click="domOperate.selectItem($index,'productListTbody',$event)">
                                            <i class="iconfont icon-sel" ng-class="{'icon-sel-zhengque':list.isdatacheck}"></i>
                                        </label>
                                    </td>
                                    <td>{{ $index+1 }}</td>
                                    <td ng-repeat="item in productListThead">
                                        {{ list[item.tag] }}
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="wareHouseTable tableOut">
                            <i class="triangle"></i>
                            <table>
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th ng-repeat="list in productListInfoThead">{{ list.name }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="list in productListInfoTbody">
                                    <td>{{ $index+1 }}</td>
                                    <td ng-repeat="item in productListInfoThead" ng-bind-html="list[item.tag]"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="footer">
                        <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>
                    <div class="footer-button">
                        <div class="footer-button">
                            <button class="btn btn-success btn-78" ng-click="domOperate.selectReady()">确定</button>
                            <button class="btn btn-default btn-cancel btn-78" ng-click="isActiveShow(false)">取消</button>
                        </div>
                    </div>
                </div>
                <!-- 批量导入详情-->
                <div class="batchLeadDetails" ng-show="activeContent == 'batchLead1'">
                    <div class="leadExplain">
                        <p>导入说明</p>

                        <p>1. 导入文件仅支持CSV、XLS、XLXS格式、大小不超过2M，数据不超过1万字</p>

                        <p>2. 导入文件不能包含“合并单元格”，否则无法导入 </p>

                        <p>3. 待补充</p>
                    </div>
                    <div class="leadTemplate">
                        <p>导入模板 <span class="star">*</span></p>

                        <div class="rows rowsInput">
                            <div class="input50 leadFileInput">
                                <input type="text" class="klw-input" placeholder="请选择导入文件" readonly/>
                                <i class="iconfont"></i>
                            </div>
                            <div class="notTemplate">
                                还没有模板,
                                <span>点此下载  <i class="iconfont">&#xe681;</i></span>
                            </div>
                        </div>
                    </div>
                    <div class="rows rowsText">
                        <p>店铺名称 <span class="star">*</span></p>

                        <p>订单状态 <span class="star">*</span></p>
                    </div>
                    <div class="rows rowsInput">
                        <div>
                            <div class="sewv">
                                <div class="sewvtop"><span>店铺名称</span></div>
                                <div class="content">
                                    <ul class="sewvbm">
                                        <li>现金</li>
                                        <li>刷卡</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="sewv">
                                <div class="sewvtop"><span>初始状态</span></div>
                                <div class="content">
                                    <ul class="sewvbm">
                                        <li>现金</li>
                                        <li>刷卡</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="footer-button">
                        <button class="btn btn-success btn-78">确定</button>
                        <button class="btn btn-default btn-cancel btn-78" ng-click="isActiveShow(false)">取消</button>
                    </div>
                </div>
            </div>

            <!--活动商品之有明细 -->
            <div class="hasDetail" ng-show="productSelectList.length">
                <div class="tableOut">
                    <table>
                        <thead>
                        <tr>
                            <th>操作</th>
                            <th ng-repeat="list in selectProductThead">
                                {{ list.name }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="list in productSelectList">
                            <td>
                                <i class="icon iconfont icon-icon_shaixuan_default2" ng-click="domOperate.deleteProduct(list,$event)" ></i>
                            </td>
                            <td ng-repeat=" item in selectProductThead " contenteditable="{{ $index==4||$index==5 }}" ng-blur="domOperate.addAmount(list,$event,$index)">{{ list[item.tag] }}</td>
                        </tr>
                        <tr>
                            <td>小计</td>
                            <td colspan="4"></td>
                            <td ng-bind-html="formData.TotalQty"></td>
                            <td ></td>
                            <td ng-bind-html="formData.TotalAmount"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- 底部按钮-->
        <div class="content-footer jxmessage">
            <button class="btn btn-success btn-78" ng-click="domOperate.save()">保存</button>
            <button class="btn btn-default btn-78" ng-click="domOperate.cancel()">取消</button>
        </div>
    </div>
</div>