<div id="fbpSellOutputBill" class="jxOutDiv" ng-controller="fbpSellOutputBillController">
    <div class="jxOutDivContent">
        <div id="simpleSearch" class="simpleSearch" ng-hide="advancedSearchObj.advancedSearch == 'fbpSellOutputBill'">
            <input class="klw-search" placeholder="档期编号/PO单号"/>
            <span class="advancedSearchBtn"  ng-click="domOperate.searchShow('fbpPlanBill')">高级搜索</span>

            <div class="fr">
                <div class="btn add-order" ng-click="domOperate.jumpToAddBill('销售出库单:新增出库单','../template/b2bFBP/addFbpSellOutputBill.html')" style="width: 157px;"><i class="iconfont"></i>新增出库单</div>
            </div>
        </div>
        <!--高级搜索-->
        <div id="advancedSearch" class="advancedSearch" ng-show="advancedSearch">
            <!-- 已选择行-->
            <div class="searchItem selected">
                <span class="title">已选择</span>
                <div class="selectedBox"
                     ng-repeat="(key,orderlist) in formChoseData">
                    <span class="selectedTitle">{{orderlist['title']}}：</span>
                    <span class="selectedContent">{{orderlist['name']}}</span>
                    <i class="icon iconfont icon-icon_guanbisousuo" ng-click="domOperate.clearChoseCondition(key,orderlist)"></i>
                </div>
            </div>
            <!-- 制单时间-->
            <div class="searchItem timeInput">
                <span class="title">销售时间</span>

                <div class="options">
                    <input class="klw-input dateTime  ng-touched" type="text" name="empty" readonly="" ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd" ng-model="searchformData.BeginDate">
                    <i class="line"></i>
                    <input class="klw-input dateTime  ng-touched" type="text" name="empty" readonly="" ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd" ng-model="searchformData.EndDate">
                </div>
            </div>

            <!-- 出货仓库-->

            <advanced-search-more-list  search-config="outWarehouseConfigData"></advanced-search-more-list>

            <!-- 出货仓库-->
            <advance-search-more-list-show search-config="outWarehouseConfigData"></advance-search-more-list-show>

            <!-- 店铺-->
            <advanced-search-more-list  search-config="storenameConfigData"></advanced-search-more-list>

            <!-- 店铺展开-->

            <advance-search-more-list-show search-config="storenameConfigData"></advance-search-more-list-show>

            <div class="searchItem clear searchItemInput">
                <!-- 计划单号-->
                <div class="rows rowsText">
                    <p>商品编码</p>

                    <p>订单编码</p>
                </div>
                <div class="rows rowsInput">
                    <div>
                        <input type="text" class="klw-input" ng-model="searchformData.ProductCode"/>
                    </div>
                    <div>
                        <input type="text" class="klw-input" ng-model="searchformData.Code"/>
                    </div>
                </div>
            </div>
            <div id="conditionSet">
                <button class="btn btn-success btn-78" ng-click="domOperate.advanceSearchConfirm($event)">确定</button>
                <button class="btn btn-default btn-78 advancedSearchCancelBtn" ng-click="domOperate.searchShow(false)">取消</button>
                <button class="btn btn-default btn-78" ng-click="domOperate.advanceSearchClear()">清空</button>
            </div>

        </div>

        <div id="simpleSelect" class="simpleSelect clear">
            <div class="selectItems fl">
                <label class="selectItem">
                    <i class="iconfont icon-sel"></i>
                    <span>已上传</span>
                </label>

            </div>
            <div class="ti-pagination">
                <span class="num"><span>{{first}}</span>-<span>{{last}}</span> </span>
                / 共 <span>{{paginationConf.totalItems}}</span>

                <span class="prev" ng-class="{disabled: conf.currentPage == 1}"><i class="iconfont" ng-click="prev()"></i></span>

                <span class="next" ng-class="{disabled: conf.currentPage == conf.numberOfPages}"><i class="iconfont" ng-click="next()"></i></span>

                <span class="config-column" ng-mouseover="isHover()" ng-mouseleave="isHover()" ng-click="domOperate.listAllocation()"><i class="iconfont"></i></span>

                <span class="listAllocationHover" ng-show="listAllocationHover">列表配置</span>
            </div>
        </div>
        <div class="tableOut">
            <table>
                <thead>
                <tr>
                    <th>
                        <label ng-click="domOperate.selectAll()">
                            <i class="iconfont icon-sel" ng-class="{'icon-sel-zhengque':checkAll}"></i>
                        </label>
                    </th>
                    <th>序号</th>
                    <th>操作</th>
                    <th ng-repeat="list in orderlistThead">
                        {{ list.name }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="list in orderListTbody">
                    <td>
                        <label ng-click="domOperate.orderListChose($event,list)">
                            <i class="iconfont icon-sel" ng-class="{'icon-sel-zhengque':list.trShow}"></i>
                        </label>
                    </td>
                    <td>{{$index+1}}</td>
                    <td class="operate">
                        <div class="multilevel-menu" >
                        <div class="sewv">
                            <div class="sewvtop"><span class="iconfont icon-operate"></span></div>
                            <div class="content">
                                <ul class="one">
                                    <li ng-click="domOperate.jumpToDetails('销售出库单:出库单详情','../template/b2bFBP/fbpSellOutputBillDetail.html',list)">出库单详情</li>
                                    <li ng-class="{true:'notClick'}[list.status !=1]" ng-click="domOperate.auditOrder(list,$event)">审核</li>
                                    <li ng-class="{true:'notClick'}[list.status !=1]" ng-click="domOperate.jumpToAddBill('销售出库单:修改出库单','../template/b2bFBP/addFbpSellOutputBill.html',list,$event)">修改</li>
                                    <li ng-class="{true:'notClick'}[list.status !=1]" ng-click="domOperate.overOrder(list,$event)" >作废</li>
                                </ul>
                            </div>
                        </div>
                            </div>
                    </td>
                    <td ng-repeat="item in orderlistThead" ng-bind-html="list[item.tag]">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--分页-->
        <tm-pagination conf="paginationConf"></tm-pagination>
        <!-- 右侧选项配置 -->
        <tm-listallocation allo="allocation"></tm-listallocation>
    </div>
</div>