<div huangbiao ng-repeat="obj in formData">
    <div class="multiMenu">
        <div class="first_menu">
            <ul>
                <li menuname="first_1" ng-click="test(obj)">一级菜单1</li>
                <li menuname="first_2">一级菜单2</li>
                <li menuname="first_3">一级菜单3</li>
                <li menuname="first_4">一级菜单4</li>
                <li menuname="first_5">一级菜单5</li>
                <li menuname="first_6">一级菜单6</li>
                <li menuname="first_7">一级菜单7</li>
                <li menuname="first_8">一级菜单8</li>
                <li menuname="first_9">一级菜单9</li>
                <li menuname="first_10">一级菜单10</li>
                <li menuname="first_11">一级菜单11</li>
                <li >一级菜单12</li>
                <li >一级菜单13</li>
                <li >一级菜单14</li>
                <li >一级菜单15</li>
                <li >一级菜单16</li>
            </ul>

            <div class="second_menu">
                <ul parentmenu="first_3">
                    <li ng-click="getObj(obj)">二级菜单first_3first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                    <li>二级菜单first_3</li>
                </ul>

                <ul parentmenu="first_6">
                    <li>二级菜单first_6first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                    <li>二级菜单first_6</li>
                </ul>

                <ul parentmenu="first_11">
                    <li>二级菜单first_11first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                    <li>二级菜单first_11</li>
                </ul>
            </div>
        </div>

    </div>
</div>