<!-- 新增采购订单 -->

<div id="addPurchaseOrder" class="cj-purchase" ng-controller="addPurchaseOrderController">
    <div class="purchase-content">

        <!--新增采购单基本信息-->
        <div class="add-input form">
            <h5 class="add-title">采购单基本信息</h5>
            <div>
                <div class="row odd">
                    <div class="column">
                        <label>供应商编号<span class="important">*</span></label>
                    </div>
                    <div class="column">
                        <label>供应商名称<span class="important">*</span></label>
                    </div>
                    <div class="column">
                        <label>到货时间<span class="important">*</span></label>
                    </div>
                    <div class="column">
                        <label>合同号</label>
                    </div>
                </div>
                <div class="row even">
                    <div class="column">
                        <input type="text" ng-model="formData.suppliercode" name="supplier" ng-click="showModal('supplierModal')" readonly placeholder="请选择供应商编码" class="klw-input">
                    </div>
                    <div class="column">
                        <input type="text" ng-model="formData.suppliername" name="supplier" readonly class="klw-input">
                    </div>
                    <div class="column">
                        <input class="klw-input datePlugin validate" name="datetimepicker" type="text" readonly ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd" ng-model="formData.requestdeliverydate">
                    </div>
                    <div class="column">
                        <input type="text" ng-model="formData.contractno" placeholder="请输入合同号" class="klw-input">
                    </div>
                </div>
                <div class="row odd">
                    <div class="column">
                        <label>采购日期<span class="important">*</span></label>
                    </div>
                    <div class="column">
                        <label>收货仓库<span class="important">*</span></label>
                    </div>
                </div>
                <div class="row even">
                    <div class="column">
                        <input class="klw-input datePlugin validate" type="text" name="datetimepicker" readonly ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd" ng-model="formData.purchasedate">
                    </div>
                    <div class="column">
                        <pull-select pull-config="selectWarehouse"></pull-select>
                    </div>
                </div>
                <div class="row even">
                    <div class="remark">
                        <label>备注</label>
                        <textarea ng-model="formData.remark"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!--新增商品信息-->
        <div class="add-purchase pr">
            <h5 class="add-title">商品信息</h5>
            <div ng-class="{true:'',false:'add-after-btn'}[addOrder == 'addBefore']">
                <div class="btn add-order green-btn mr" ng-if="addOrder != 'addSelect'" ng-click="addProduct.module('addOrder','addSelect');addProduct.isInit()">
                    <i class="iconfont"></i>新增商品
                </div>
                <div class="btn pl-import" ng-if="addOrder != 'batch'" ng-click="addProduct.module('addOrder','batch')"><i class="iconfont"></i>批量导入</div>
                <div class="btn pl-import ml" ng-if="tableInfoList.length != 0" ng-click="addProduct.delete()">
                    <i class="iconfont"></i>批量删除
                </div>
            </div>
            <!--选择商品-->
            <div ng-if="addOrder == 'addSelect'" class="odd">
                <div class="new-header">
                    <input type="text" class="klw-search" ng-keyup="addProduct.search($event)" ng-model="productItem.productCode" placeholder="商品编码">
                </div>
                <div class="new-body">
                    <div class="body-table">
                        <div class="left-table">
                            <table id="getProductTable" class="display" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th ng-click="addProduct.selectAll('tableSkuList')">
                                        <div class="klwk-check" ng-hide="isalldatacheck"><i class="iconfont"></i></div>
                                        <div class="klwk-check-x" ng-show="isalldatacheck"><i class="iconfont"></i></div>
                                    </th>
                                    <th ng-repeat="obj in theadSkuList">{{obj.name}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="obj in tableSkuList" ng-click="addProduct.viewInventory(obj,$index)" ng-class="{true:'current',false:''}[obj.isSelect]">
                                    <td ng-click="addProduct.selectItem($index,'tableSkuList')">
                                        <div class="klwk-check" ng-hide="obj.isdatacheck"><i class="iconfont"></i></div>
                                        <div class="klwk-check-x" ng-show="obj.isdatacheck"><i class="iconfont"></i></div>
                                    </td>
                                    <td ng-repeat="item in theadSkuList">{{obj[item.tag]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="right-table">
                            <div style="overflow: auto">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>仓库名称</th>
                                        <th>库存数</th>
                                        <th>可用数</th>
                                        <th>可销数</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in inventoryNum">
                                        <td>{{$index+1}}</td>
                                        <td>{{item.warehousename}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.canUseQuantity}}</td>
                                        <td>{{item.canSaleQuantity}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <tm-pagination conf="paginationSkuConf"></tm-pagination>
                    <div class="mt">
                        <button class="btn btn-success btn-78 mr" ng-click="addProduct.save()">确定</button>
                        <button class="btn btn-default btn-78" ng-click="addProduct.cancel()">取消</button>
                    </div>
                </div>
            </div>
            <!--批量导入-->
            <div ng-if="addOrder == 'batch'" class="even">
                <div class="explain">
                    <h5 class="add-title">导入说明</h5>
                    <span>1. 导入文件支持CSV、XLS、XLXS格式、大小不超过2M，数据不超过2万字</span>
                    <span>2. 导入文件不能包括"合并单元格"，否则无法导入</span>
                    <span>3. 待补充</span>
                </div>
                <div class="row odd">
                    <div class="column">
                        <label for="leadModule">导入模板<span class="important">*</span></label>
                    </div>
                </div>
                <div class="row lModule even">
                    <div class="column">
                        <input type="text" id="leadModule" placeholder="请导入模板" class="klw-input" disabled>
                        <i class="iconfont"></i>
                    </div>
                    <span>还没有模板下载，<i>点击下载</i><i class="iconfont icon-icon5"></i></span>
                </div>
                <div>
                    <button class="btn btn-success btn-78 mr" ng-click="addProduct.module('addOrder','')">导入</button>
                    <button class="btn btn-default btn-78" ng-click="addProduct.cancel()">取消</button>
                </div>
            </div>
            <!--生成表格-->
            <div ng-if="tableInfoList.length != 0">
                <table>
                    <thead>
                    <tr>
                        <th ng-click="addProduct.selectAll('tableInfoList')">
                            <div class="klwk-check" ng-hide="isalldatacheck"><i class="iconfont"></i></div>
                            <div class="klwk-check-x" ng-show="isalldatacheck"><i class="iconfont"></i></div>
                        </th>
                        <th ng-repeat="obj in theadInfoList">{{obj.name}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="obj in tableInfoList" ng-show="obj.isShow">
                        <td ng-click="addProduct.selectItem($index,'tableInfoList')">
                            <div class="klwk-check" ng-hide="obj.isdatacheck"><i class="iconfont"></i></div>
                            <div class="klwk-check-x" ng-show="obj.isdatacheck"><i class="iconfont"></i></div>
                        </td>
                        <td ng-repeat="item in theadInfoList">{{obj[item.tag]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="footer-btn add-footer">
            <button class="btn btn-success btn-78 mr" ng-click="saveOrder()">保存</button>
            <button class="btn btn-default btn-78" ng-click="goBack()">取消</button>
        </div>

    </div>
    <!--选择供应商模态框-->
    <div class="modal fade product-list" id="supplierModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="product-head">
                    <div class="product-title">选择供应商</div>
                    <div class="product-close" ng-click="hideModal('supplierModal')"><i class="icon iconfont icon-icon_guanbisousuo"></i></div>
                </div>
                <div class="product-body">
                    <div>
                        <div class="row">
                            <div class="column">
                                <label>供应商编码</label>
                            </div>
                            <div class="column">
                                <label>供应商简称</label>
                            </div>
                        </div>
                        <div class="row odd">
                            <div class="column">
                                <input class="klw-input" ng-model="supplierItem.code" type="text"/>
                            </div>
                            <div class="column">
                                <input class="klw-input" ng-model="supplierItem.shortName" type="text"/>
                            </div>
                        </div>
                        <div class="mt">
                            <button class="btn btn-success btn-78 mr" ng-click="supplier.search()">确认</button>
                            <button class="btn btn-default btn-78" ng-click="supplier.searchCancel()">取消</button>
                        </div>
                    </div>

                    <div class="mt">
                        <div class="body-table">
                            <table id="getSupplierTable" class="display" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th ng-repeat="obj in theadSupplierList">{{obj.name}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="obj in tableSupplierList" ng-click="supplier.select($index,$event)">
                                    <td ng-repeat="item in theadSupplierList">{{obj[item.tag]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>
                    <div class="footer mt">
                        <button class="btn btn-success btn-78 mr" ng-click="supplier.ensure()">保存</button>
                        <button class="btn btn-default btn-78" ng-click="hideModal('supplierModal')">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /新增采购订单 -->