<div id="systemInventory" class="systemInventory">
    <div id="topNav" class="topNav">
        <div class="path">
            还入单
        </div>
        <div class="topCondition">
            商品名称：<span>aaa</span>
        </div>
        <div class="topCondition">
            商品编码：<span>bbb</span>
        </div>
        <div class="topCondition">
            规格编码：<span>ccc</span>
        </div>
        <div class="fr">
            <button>历史库存下载</button>
            <button>导出</button>
        </div>
    </div>
    <div id="content" class="content">
        <div class="simpleSearch">
            <div class="searchItems">
                <label class="searchItem">
                    <span>商品名称</span>
                    <input type="text">
                </label>
                <label class="searchItem">
                    <span>商品编码</span>
                    <input type="text">
                </label>
                <label class="searchItem">
                    <span>规格编码</span>
                    <input type="text">
                </label>
            </div>
            <div class="searchItems">
                <label class="searchItem">
                    <span>仓库</span>
                    <input type="text">
                </label>
                <label class="searchItem">
                    <span>品牌</span>
                    <input type="text">
                </label>
            </div>
            <div>
                <button>搜索</button>
                <button>清空</button>
            </div>
        </div>
        <div id="simpleSelect" class="simpleSelect">
            <div class="selectItems fl">
                <label class="selectItem">
                    <input type="checkbox">
                    <span>有库存</span>
                </label>
                <label class="selectItem">
                    <input type="checkbox">
                    <span>显示在途</span>
                </label>
            </div>
            <div class="fr">
                <div id="headerPage">
                    <span>1</span>-<span>10</span>/共<span>435</span><img src=""/><img src=""/>
                </div>
                <img src="" id="tableConfig"/>
            </div>
        </div>
        <table cellspacing="0">
            <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>序号</th>
                <th>操作</th>
                <th>仓库名称</th>
                <th>商品编码</th>
                <th>商品名称</th>
                <th>品牌</th>
                <th>规格编码</th>
                <th>规格名称</th>
                <th>库存数</th>
                <th>已配货数</th>
                <th>订单占用数</th>
                <th>调拨占用数</th>
                <th>唯品占用数</th>
                <th>可用数</th>
                <th>可销数</th>
                <th>在途数</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>01</td>
                <td><img src=""/></td>
                <td>
                    <span class="red">异常</span>•<span class="yellow">异常</span>•<span>异常</span>•<span>异常</span>
                </td>
                <td>E784548888</td>
                <td>新建</td>
                <td>优秀旗舰店</td>
                <td>宝宝yoyo</td>
                <td>已付款</td>
            </tr>
            <tr>
                <td><img src=""/></td>
                <td>01</td>
                <td><img src=""/></td>
                <td>
                    <span>异常</span>•<span>异常</span>•<span>异常</span>•<span>异常</span>
                </td>
                <td>E784548888</td>
                <td>新建</td>
                <td>优秀旗舰店</td>
                <td>宝宝yoyo</td>
                <td>已付款</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>01</td>
                <td><img src=""/></td>
                <td>
                    <span class="red">异常</span>•<span class="yellow">异常</span>•<span>异常</span>•<span>异常</span>
                </td>
                <td>E784548888</td>
                <td>新建</td>
                <td>优秀旗舰店</td>
                <td>宝宝yoyo</td>
                <td>已付款</td>
            </tr>
            <tr>
                <td><img src=""/></td>
                <td>01</td>
                <td><img src=""/></td>
                <td>
                    <span>异常</span>•<span>异常</span>•<span>异常</span>•<span>异常</span>
                </td>
                <td>E784548888</td>
                <td>新建</td>
                <td>优秀旗舰店</td>
                <td>宝宝yoyo</td>
                <td>已付款</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>01</td>
                <td><img src=""/></td>
                <td>
                    <span class="red">异常</span>•<span class="yellow">异常</span>•<span>异常</span>•<span>异常</span>
                </td>
                <td>E784548888</td>
                <td>新建</td>
                <td>优秀旗舰店</td>
                <td>宝宝yoyo</td>
                <td>已付款</td>
            </tr>
            <tr>
                <td><img src=""/></td>
                <td>01</td>
                <td><img src=""/></td>
                <td>
                    <span>异常</span>•<span>异常</span>•<span>异常</span>•<span>异常</span>
                </td>
                <td>E784548888</td>
                <td>新建</td>
                <td>优秀旗舰店</td>
                <td>宝宝yoyo</td>
                <td>已付款</td>
            </tr>
            </tbody>
        </table>
        <div class="footer">
            共<span>18765</span>行
            <div id="footerPage" class="footerPage">
                <img src="">
                <span>1</span>
                <span>2</span>
                <span>3</span>
            </div>
            每页行数
            <select>
                <option>10</option>
                <option>20</option>
                <option>30</option>
            </select>
            跳到<input type="number">页
        </div>
    </div>

</div>
