<div id="presentTactics" class="jxOutDiv" ng-controller="presentTacticsController">
    <div class="jxOutDivContent">
        <!-- 主搜索框和主按钮-->
        <div id="simpleSearch" class="simpleSearch" ng-hide="advancedSearchObj.advancedSearch == 'presentTactics'">
            <input class="klw-search" placeholder="活动编码" ng-model="searchForm.activity" ng-keyup="dimSearch()"/>
            <span class="advancedSearchBtn" ng-click="advancedSearchObj.isShow('presentTactics')">高级搜索</span>

            <div class="fr">
                <div class="btn133">
                    <menu-select menu-config="batchBtn" ng-class="{false:'notClick'}[isZhengque]"></menu-select>
                </div>
                <div class="btn133">
                    <menu-select menu-config="addBtn"></menu-select>
                </div>
            </div>
        </div>

        <!-- 高级搜索展开-->
        <div id="advancedSearch" class="advancedSearch" ng-show="advancedSearchObj.advancedSearch == 'presentTactics'">
            <!-- 结束时间-->
            <div class="searchItem timeInput">
                <div class="title textsewv" ng-hide="advancedSearchObj.timeShow">
                    <div class="sewv">
                        <div class="sewvtop">
                            <span>结束时间</span>
                            <em><i class="iconfont icon-xiajiantou"></i></em>
                        </div>
                        <div class="content">
                            <ul class="sewvbm">
                                <li ng-click="advancedSearchObj.timeItemSel('1')">结束时间</li>
                                <li ng-click="advancedSearchObj.timeItemSel('2')">制单时间</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <span class="title" ng-show="advancedSearchObj.timeShow">结束时间</span>

                <!-- 结束时间-->
                <div class="options" ng-show="advancedSearchObj.timeItem=='1' || advancedSearchObj.timeShow">
                    <input class="klw-input dateTime" type="text" readonly ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd" ng-model="searchForm.end1">
                    <i class="line"></i>
                    <input class="klw-input dateTime" type="text" readonly ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd" ng-model="searchForm.end2">
                </div>

                <!-- 制单时间-->
                <div class="options" ng-show="advancedSearchObj.timeItem=='2' && !advancedSearchObj.timeShow">
                    <input class="klw-input dateTime" type="text" readonly ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd" ng-model="searchForm.create1">
                    <i class="line"></i>
                    <input class="klw-input dateTime" type="text" readonly ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd" ng-model="searchForm.create2">
                </div>

                <div class="more">
                    <div class="btn klwk-spread timeSpreadBtn"
                         ng-class="{true:'klwk-noSpread'}[advancedSearchObj.timeShow]"
                         ng-click="advancedSearchObj.isTimeShow()"><span>{{advancedSearchObj.timeText}}</span><i
                            class="iconfont"></i></div>
                </div>
            </div>
            <!-- 结束时间展开-->
            <div class="searchItem timeInput timeSpread" ng-show="advancedSearchObj.timeShow">
                <div class="timeInput">
                    <span class="title">制单时间</span>

                    <!-- 制单时间-->
                    <div class="options">
                        <input class="klw-input dateTime" type="text" readonly ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd" ng-model="searchForm.create1">
                        <i class="line"></i>
                        <input class="klw-input dateTime" type="text" readonly ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd" ng-model="searchForm.create2">
                    </div>
                </div>
            </div>
            <!-- 活动编码-->
            <div class="searchItemInput clear">
                <div class="rows rowsText">
                    <p>活动编码</p>

                    <p>商品编码</p>

                    <p>活动店铺</p>

                    <p>赠送商品</p>
                </div>
                <div class="rows rowsInput">
                    <div>
                        <input type="text" class="klw-input" placeholder="请输入活动编码" ng-model="searchForm.activity"/>
                    </div>
                    <div>
                        <input type="text" class="klw-input" placeholder="请输入商品编码" ng-model="searchForm.merchandise"/>
                    </div>
                    <div>
                        <search-select search-config="selectStore"></search-select>
                    </div>
                    <div>
                        <input type="text" class="klw-input" placeholder="请输入赠送商品" ng-model="searchForm.send"/>
                    </div>
                </div>

            </div>
            <div class="searchItem searchItemStatus clear">
                <span class="title">状态</span>

                <div class="options">
                    <label ng-click="isLabelSel($event,true)" class="selectItem">
                        <i class="icon-sel iconfont"></i>
                        <span data-status="0">新建</span>
                    </label>
                    <label ng-click="isLabelSel($event,true)" class="selectItem">
                        <i class="icon-sel iconfont"></i>
                        <span data-status="1">活动中</span>
                    </label>
                    <label ng-click="isLabelSel($event,true)" class="selectItem">
                        <i class="icon-sel iconfont"></i>
                        <span data-status="2">暂停</span>
                    </label>
                    <label ng-click="isLabelSel($event,true)" class="selectItem">
                        <i class="icon-sel iconfont"></i>
                        <span data-status="3">禁用</span>
                    </label>
                </div>

            </div>
            <div id="conditionSet">
                <button class="btn btn-success btn-78" ng-click="advancedSearchObj.isShow('false');search()">确定</button>
                <button class="btn btn-default btn-78 advancedSearchCancelBtn"
                        ng-click="advancedSearchObj.isShow('false',$event)">取消
                </button>
                <button class="btn btn-default btn-78" ng-click="empty()">清空</button>
            </div>
        </div>

        <!-- 特殊标识行-->
        <div id="simpleSelect" class="simpleSelect clear">
            <div class="selectItems fl">
                <label ng-click="isThreeSel($event,'1')" class="selectItem">
                    <i class="iconfont icon-sel-yellow" ng-class="{true:'icon-sel-zhengque',false:'icon-sel'}[simpleSelect.isSuperposition]"></i>
                    <span>叠加</span>
                </label>
            </div>
            <div class="ti-pagination">
                <span class="num"><span>{{first}}</span>-<span>{{last}}</span> </span>
                / 共 <span>{{paginationConf.totalItems}}</span>

                <span class="prev" ng-class="{disabled: conf.currentPage == 1}"><i class="iconfont"
                                                                                   ng-click="prev()"></i></span>

                <span class="next" ng-class="{disabled: conf.currentPage == conf.numberOfPages}"><i class="iconfont"
                                                                                                    ng-click="next()"></i></span>

                <span style="position: relative">
                    <span class="config-column" ng-click="showColumnConfigPanel()"  ng-mouseover="isHover()" ng-mouseleave="isHover()">
                        <i class="iconfont"></i>
                    </span>
                    <span class="listAllocationHover" ng-show="listAllocationHover">列表配置</span>
                    <tm-listallocation allo="allocation"></tm-listallocation>
                </span>
            </div>
        </div>

        <div class="tableOut">
            <table id="presentTacticsTable" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>
                        <label ng-click="isLabelSel($event);operate.selAll($event)">
                            <i class="iconfont icon-sel"></i>
                        </label>
                    </th>
                    <th>操作</th>
                    <th ng-repeat="obj in theadList">{{obj.name}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="obj in tableList"  repeat-finished-directive repeataction="initFunc()" repeatIndex="{{$index}}" condition="{{$last == true}}">
                    <td>
                        <label ng-click="isLabelSel($event);operate.selSingle($event,$index)">
                            <i class="iconfont icon-sel"></i>
                        </label>
                    </td>
                    <td class="operate">
                        <div class="operateList">
                            <div class="operateIcon"><span class="iconfont icon-operate"></span></div>
                            <div class="content">
                                <ul class="one">
                                    <li ng-click="goOther('detail',$index,$event)">策略详情</li>
                                    <!-- 活动中/禁用 不能修改-->
                                    <li ng-click="goOther(obj.activitystrategytype,$index,$event)"
                                        ng-class="{true:'notClick'}[obj.status==1 || obj.status==3]">
                                        修改策略
                                    </li>
                                    <!-- 福袋类型/叠加/活动中/禁用状态 不能修改-->
                                    <li ng-class="{true:'notClick'}[obj.activitystrategytype==3 || obj.issuperposition ||obj.status==1 || obj.status==3]" ng-click="operate.changeSeq($index,$event)">修改排序</li>
                                    <!-- 暂停，禁用状态 不能暂停-->
                                    <li ng-click="operate.stop($index,$event)" ng-class="{true:'notClick'}[obj.status==2 || obj.status==3]">暂停</li>
                                    <!-- 活动中，禁用状态 不能启用-->
                                    <li ng-click="operate.start($index,$event)" ng-class="{true:'notClick'}[obj.status==1 || obj.status==3]">启用</li>
                                    <!-- 禁用状态 不能禁用-->
                                    <li ng-click="operate.disable($index,$event)" ng-class="{true:'notClick'}[obj.status==3]">禁用</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="item in theadList">
                        <i class="iconfont icon-icon9 correct" ng-if="obj[item.tag] === true"></i>
                        {{obj[item.tag] | isBoolean | setDefaultValueWithoutData}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--分页-->
        <tm-pagination conf="paginationConf"></tm-pagination>

        <!-- 修改排序弹框-->
        <div class="modal fade changeSeq-modal" id="changeSeqModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="header-title">编辑</div>
                        <div class="header-close" data-dismiss="modal" aria-hidden="true"><i class="icon iconfont icon-icon_guanbisousuo"></i></div>
                    </div>
                    <div class="modal-body clear">
                        <div class="cf">
                            <span class="fl">排序</span>
                            <div class="fl">
                                <input class="klw-input" type="number" ng-model="modify.tableList.seq" min="0"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-78 btn-success" ng-click="operate.changeSeqSubmit()"  data-dismiss="modal">保存</button>
                        <button type="button" class="btn btn-78 btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 禁用弹框-->
        <div class="modal fade changeSeq-modal" id="disableModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="header-title">提示</div>
                        <div class="header-close" data-dismiss="modal" aria-hidden="true"><i class="icon iconfont icon-icon_guanbisousuo"></i></div>
                    </div>
                    <div class="modal-body clear" style="height:77px;line-height: 77px;text-align: center">
                        <div class="cf">
                            活动一旦禁用不能再次启用，确认要禁用活动？
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-78 btn-success" ng-click="operate.disableSubmit()"  data-dismiss="modal">确定</button>
                        <button type="button" class="btn btn-78 btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
