
<div id="vipMessage" class="jxOutDiv" ng-controller="vipMessageController">
    <div class="jxOutDivContent">
        <!-- 主搜索框和主按钮-->
        <div id="simpleSearch" class="simpleSearch" ng-hide="advancedSearchObj.advancedSearch == 'vipMessage'">
            <input class="klw-search" placeholder="会员编码" ng-keyup="searchKeyup()" ng-model="searchObj.vipCode"/>
            <span class="advancedSearchBtn"  ng-click="advancedSearchObj.isShow('vipMessage')">高级搜索</span>

            <div class="fr">
                <div class="btn btn6 add-order" ng-click="goOther('add')"><i class="iconfont"></i>新增会员信息</div>
            </div>
        </div>

        <!-- 高级搜索展开-->
        <div id="advancedSearch" class="advancedSearch" ng-show="advancedSearchObj.advancedSearch == 'vipMessage'">
            <!-- 商品编码-->
            <div class="searchItem searchItemInput clear">
                <div class="rows rowsText">
                    <p>会员编码</p>
                    <p>会员昵称</p>
                    <p>收货人</p>
                    <p>所属店铺</p>
                </div>
                <div class="rows rowsInput">
                    <div>
                        <input type="text" class="klw-input" ng-model="searchObj.vipCode" placeholder="请输入会员编码"/>
                    </div>
                    <div>
                        <input type="text" class="klw-input" ng-model="searchObj.vipName" placeholder="请输入会员昵称"/>
                    </div>
                    <div>
                        <input type="text" class="klw-input" ng-model="searchObj.consignee" placeholder="请输入收货人"/>
                    </div>
                    <div>
                        <search-select search-config="selectStore"></search-select>
                    </div>
                </div>
            </div>
            <div class="searchItem searchItemInput clear">
                <div class="rows rowsText">
                    <p>会员标记</p>
                </div>
                <div class="rows rowsInput">
                    <pull-select pull-config="selectTag"></pull-select>
                </div>
            </div>
            <div id="conditionSet">
                <button class="btn btn-success btn-78" ng-click="advancedSearchObj.isShow('false');search()">确定</button>
                <button class="btn btn-default btn-78 advancedSearchCancelBtn" ng-click="advancedSearchObj.isShow('false',$event)">取消
                </button>
                <button class="btn btn-default btn-78" ng-click="empty()">清空</button>
            </div>
        </div>

        <!-- 特殊标识行-->
        <div id="simpleSelect" class="simpleSelect clear">

            <div class="selectItems fl">
                <label ng-click="isThreeSel($event,'1')" class="selectItem">
                    <i class="iconfont icon-sel-yellow"
                       ng-class="{true:'icon-sel-zhengque',false:'icon-sel'}[simpleSelect.isUrgent]"></i>
                    <span>加急发货</span>
                </label>
            </div>

            <div class="ti-pagination">
                <span class="num"><span>{{first}}</span>-<span>{{last}}</span> </span>
                / 共 <span>{{paginationConf.totalItems}}</span>

                <span class="prev" ng-class="{disabled: conf.currentPage == 1}"><i class="iconfont" ng-click="prev()"></i></span>

                <span class="next" ng-class="{disabled: conf.currentPage == conf.numberOfPages}"><i class="iconfont" ng-click="next()"></i></span>

                 <span style="position: relative">
                    <span class="config-column" ng-click="showColumnConfigPanel()"  ng-mouseover="isHover()" ng-mouseleave="isHover()">
                        <i class="iconfont"></i>
                    </span>
                    <span class="listAllocationHover" ng-show="listAllocationHover">列表配置</span>
                    <tm-listallocation allo="allocation"></tm-listallocation>
                </span>
            </div>
        </div>

        <div class="tableOut">
            <table id="vipMessageTable" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th >操作</th>
                    <th ng-repeat="obj in theadList">{{obj.name}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="obj in tableList" repeat-finished-directive repeataction="initFunc()" repeatIndex="{{$index}}" condition="{{$last == true}}">
                    <td class="operate text-center">
                        <div class="operateList">
                            <div class="operateIcon"><span class="iconfont icon-operate"></span></div>
                            <div class="content">
                                <ul class="one">
                                    <li ng-click="goOther('modify',$index)">修改</li>
                                    <li class="much">
                                        标记
                                        <ul class="two">
                                            <li ng-click="signFun(obj.customerid,obj2.name)" ng-repeat="obj2 in signObj">{{obj2.name}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="item in theadList">
                        <i class="iconfont icon-icon9 correct" ng-if="(obj[item.tag] | jxFilter:item.tag:'VipMessage') === true"></i>
                        {{obj[item.tag] | jxFilter:item.tag:'VipMessage' | isBoolean | setDefaultValueWithoutData}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--分页-->
        <tm-pagination conf="paginationConf"></tm-pagination>

    </div>
</div>
