<div id="addAdjustBill" class="jxOutDiv jxAdd" ng-controller="addAdjustBillController">
    <div class="jxOutDivContent">
        <div>
            <button class="btn btn-default btn-78 topReturn" ng-click="returnFun()">返回</button>
        </div>
        <div class="basic-message jxmessage form">
            <h3 class="addTitle">调整单基本信息</h3>

            <div class="rows rowsText">
                <p>档期名称<span class="star">*</span></p>

                <p>调整原因<span class="star">*</span></p>

                <p>调整类型<span class="star">*</span></p>

            </div>
            <div class="rows rowsInput">
                <div>
                    <input type="text" class="klw-input" placeholder="请选择档期名称" readonly ng-model="modify.tableList.schedulename" ng-click="rightSideObj.schedulenameShow()"/>
                </div>
                <div>
                    <pull-select pull-config="selectAdjustReasonType"></pull-select>
                </div>
                <div>
                    <pull-select pull-config="selectAdjustType"></pull-select>
                </div>
                <div>
                    <label ng-click="isLabelSel($event);isUpload()" class="labelMarTop6">
                        <i class="iconfont icon-sel" ng-class="{true:'icon-sel-zhengque'}[modify.tableList.isUploadInventory]"></i>
                        <span>上传库存</span>
                    </label>
                </div>
            </div>
            <div class="rows rowsText">
                <p>备注</p>
            </div>
            <div class="rows rowsInput">
                <div class="input100">
                    <textarea class="klw-textarea" ng-model="modify.tableList.remark" placeholder="请输入备注"></textarea>
                </div>
            </div>
        </div>

        <div class="activity-merchandise jxmessage">
            <!-- 活动商品之title-->
            <div class="messageTitle clear">
                <h3 class="addTitle">调整单商品信息</h3>

                <div class="fr message-button" ng-hide="addMessage.activityBtn">
                    <div class="add-detail" ng-click="isActiveShow('addActive','activity',$event)"><i
                            class="iconfont"></i>新增商品信息
                    </div>
                    <div class="btn  pl-import btn2" ng-click="isActiveShow('batchLead1','lead',$event)"><i
                            class="iconfont"></i>导入
                    </div>
                </div>
            </div>

            <!-- 活动商品之button-->
            <div class="message-button" ng-show="addMessage.activityBtn">
                <div class="add-detail" ng-click="isActiveShow('addActive','activity',$event)"><i class="iconfont"></i>新增商品信息</div>
                <div class="btn  pl-import btn2" ng-click="isActiveShow('batchLead1','lead',$event)">
                    <i class="iconfont"></i>
                    导入
                </div>
            </div>

            <!-- 活动商品之详情界面 -->
            <div class="merchandise-details message-content">
                <!-- 新增活动商品详情-->
                <div class="addMerchandiseDetails" ng-show="activeContent == 'addActive'">
                    <div class="rows rowsText">
                        <p>商品代码</p>
                        <p>商品名称</p>
                        <p>规格代码</p>
                        <p>规格名称</p>
                    </div>
                    <div class="rows rowsInput">
                        <div>
                            <input type="text" class="klw-input" ng-model="messageForm.goodsNum" placeholder="请输入商品代码"/>
                        </div>
                        <div>
                            <input type="text" class="klw-input" ng-model="messageForm.goodsName" placeholder="请输入商品代码"/>
                        </div>
                        <div>
                            <input type="text" class="klw-input" ng-model="messageForm.skuNum" placeholder="请输入商品代码"/>
                        </div>
                        <div>
                            <input type="text" class="klw-input" ng-model="messageForm.skuName" placeholder="请输入规格名称"/>
                        </div>
                    </div>

                    <div class="messageSearchBtn">
                        <button class="btn btn-success btn-78" ng-click="messageSearch()">搜索</button>
                        <button class="btn btn-default btn-cancel btn-78" ng-click="messageEmpty()">清空</button>
                    </div>

                    <div class="clear body-table">
                        <div class="fl  tableOut">
                            <table id="addMerchandiseTable" class="display" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th ng-repeat="obj in addActivityMessageThead">{{obj.name}}</th>
                                </tr>

                                </thead>
                                <tbody>
                                <tr ng-repeat="obj in addActivityMessage" repeat-finished-directive
                                    repeataction="initFunc()"
                                    repeatIndex="{{$index}}" VipStockAdjustOrderSave="{{$last == true}}"
                                    ng-click="activityTrClick($event,obj.productname,obj.code)">
                                    <td>
                                        <label ng-click="isLabelSel($event);tableSel($event,$index)">
                                            <i class="iconfont icon-sel"></i>
                                        </label>
                                    </td>
                                    <td ng-repeat="item in addActivityMessageThead">
                                        <i class="iconfont icon-icon9 correct" ng-if="obj[item.tag] === true"></i>
                                        {{obj[item.tag]| setDefaultValueWithoutData}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="fr ">
                            <div class="title">名称&nbsp;:&nbsp;&nbsp;<span>{{canName}}</span></div>
                            <div class="title">编码&nbsp;:&nbsp;&nbsp;<span>{{canCode}}</span></div>
                            <div class="tableOut">
                                <table id="addMerchandiseTable2" class="display" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th ng-repeat="obj in addActivityMessageThead2">{{obj.name}}</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="obj in addActivityMessage2" repeat-finished-directive
                                        repeataction="initFunc()"
                                        repeatIndex="{{$index}}" VipStockAdjustOrderSave="{{$last == true}}">
                                        <td ng-repeat="item in addActivityMessageThead2">
                                            <i class="iconfont icon-icon9 correct" ng-if="obj[item.tag] === true"></i>
                                            {{obj[item.tag] | jxFilter:item.tag:'addBuy' | setDefaultValueWithoutData}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <!--分页-->
                    <tm-pagination conf="paginationConf"></tm-pagination>

                    <div class="footer-button">
                        <button class="btn btn-success btn-78" ng-click="messageSuccess($event,'activity')">确定</button>
                        <button class="btn btn-default btn-cancel btn-78" ng-click="isActiveShow(false,'',$event)">取消
                        </button>
                    </div>
                </div>
                <!-- 批量导入详情-->
                <div class="batchLeadDetails" ng-show="activeContent == 'batchLead1'">
                    <div class="leadExplain">
                        <p>导入说明</p>

                        <p>1. 导入文件仅支持CSV、XLS、XLXS格式、大小不超过2M，数据不超过1万字</p>

                        <p>2. 导入文件不能包含“合并单元格”，否则无法导入 </p>

                        <p>3. 待补充</p>
                    </div>
                    <div class="leadTemplate">
                        <p>导入模板 <span class="star">*</span></p>

                        <div class="rows rowsInput">
                            <div class="input50 leadFileInput" ng-click="leadObj.leadXlsx($event)">
                                <input type="text" class="klw-input leadObj" placeholder="请选择导入文件" readonly/>
                                <input type="file" class="fileElem" multiple accept="image/*" style="display:none">
                                <i class="iconfont"></i>
                            </div>
                            <div class="notTemplate">
                                还没有模板,
                                <span ng-click="leadObj.downFile('VipSchedule')">
                                    点此下载  <i class="iconfont icon-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="footer-button">
                        <button class="btn btn-success btn-78" ng-click="leadObj.leadConfirm()">确定</button>
                        <button class="btn btn-default btn-cancel btn-78" ng-click="isActiveShow(false,'',$event)">取消
                        </button>
                    </div>
                </div>
            </div>

            <!--活动商品之有明细 -->
            <div class="hasDetail" ng-show="tableList1.length>0">
                <div class="tableOut">
                    <table id="activityDetailTable" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>操作</th>
                            <th ng-repeat="obj in theadList1">{{obj.name}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key,obj) in tableList1" repeat-finished-directive
                            repeataction="initFunc()" repeatIndex="{{$index}}"
                            VipStockAdjustOrderSave="{{$last == true}}"
                                ng-hide="obj.deleted">
                            <td>
                                <i class="iconfont icon-delete" ng-click="deleteMessage($index,'activity')"></i>
                            </td>
                            <td ng-repeat="item in theadList1">
                                <span  ng-hide="item.tag=='supplyprice' || item.tag=='adjustqty'">{{obj[item.tag] | setDefaultValueWithoutData}}</span>
                                <input class="input-modify" ng-show="item.tag=='supplyprice'" ng-model="obj[item.tag]" ng-blur="inputBlur(key,'supplyprice',obj[item.tag])"/>
                                <input class="input-modify" ng-show="item.tag=='adjustqty'" ng-model="obj[item.tag]" ng-blur="inputBlur(key,'adjustqty',obj[item.tag])"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- 底部按钮-->
        <div class="content-footer jxmessage">
            <button class="btn btn-success btn-78" ng-click="submit()">保存</button>
            <button class="btn btn-default btn-78" ng-click="returnFun()">取消</button>
        </div>

        <!--档期名称侧滑框-->
        <div id="rightSideModal">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="header-title">选择档期名称</div>
                    <div class="header-close" ng-click="rightSideObj.hideModal()"><i class="icon iconfont icon-icon_guanbisousuo"></i></div>
                </div>
                <div class="product-body">
                    <div class="searchBox">
                        <input type="text" class="klw-search" ng-keyup="rightSideObj.search()" ng-model="rightSideObj.searchText"/>
                    </div>
                    <div class="tableOut">
                        <table id="getRightSideTable" class="display" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th ng-repeat="obj in theadRightSideList">{{obj.name}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="obj in tableRightSideList" ng-click="rightSideObj.select(obj,$event)" ng-hide='obj.isHide'>
                                <td ng-repeat="item in theadRightSideList">{{obj[item.tag]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="footer mt">
                        <button class="btn btn-success btn-78 mr" ng-click="rightSideObj.ensure()">保存</button>
                        <button class="btn btn-default btn-78" ng-click="rightSideObj.hideModal()">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>