<div id="scanQuitGoodsBill" class="jxOutDiv">
    <div class="jxOutDivContent">
        <div class="basic-message jxmessage">
            <h3 class="addTitle">扫描退货单</h3>

            <div class="rows rowsText">
                <p>退供单号</p>
                <p>单据编号</p>
                <p>退供仓库</p>
                <p>签收仓库</p>
            </div>
            <div class="rows rowsInput">
                <div>
                    <input type="text" class="klw-input" value="161017RTV0029" readonly/>
                </div>
                <div>
                    <input type="text" class="klw-input" value="VR1610195815766" readonly/>
                </div>
                <div>
                    <input type="text" class="klw-input" value="唯品成都仓" readonly/>
                </div>
                <div>
                    <input type="text" class="klw-input" value="深圳总仓" readonly/>
                </div>
            </div>
            <div class="rows rowsText">
                <p>商品箱码 <span class="star">*</span></p>
                <p>商品规格</p>
                <p>备注</p>
            </div>
            <div class="rows rowsInput">
                <div>
                    <input class="klw-input" type="text"/>
                </div>
                <div>
                    <input class="klw-input" type="text"/>
                </div>
                <div>
                    <input class="klw-input" type="text"/>
                </div>
            </div>
        </div>
        <div class="activity-merchandise jxmessage">

            <div class="hasDetail">
                <div class="tableOut">
                    <table>
                        <thead>
                        <tr>
                            <th>PO单号</th>
                            <th>箱码</th>
                            <th>规格编码</th>
                            <th>唯品编码</th>
                            <th>退货数量</th>
                            <th>签收数量</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!-- 底部按钮-->
        <div class="content-footer jxmessage">
            <button class="btn btn-success btn-78">保存</button>
            <button class="btn btn-default btn-78">取消</button>
        </div>
    </div>
</div>