<!-- 铺货关系 -->

<div id="goodsRelationship" class="cj-product" ng-controller="goodsRelationshipController">
    <div class="product-content">

        <!--高级搜索显示配置-->
        <div class="is-select" ng-if="num != 0">
            <span>已选择</span>
            <div class="select-box" ng-if="radioStore.status == 'selected'">
                <span class="select-title">店铺名称：</span>
                <span class="select-content">{{radioStore.content}}</span>
                <i class="icon iconfont icon-icon_guanbisousuo" ng-click="closeSelect('radioStore','storeid','store')"></i>
            </div>
        </div>

        <div class="product-header" ng-class="{true:'search-top',false:''}[num != 0]">

            <!--高级搜索默认-->
            <div class="search-before" ng-show="showSearchElement">
                <input type="text" class="klw-search" placeholder="平台商品ID" ng-keyup="myKeyup($event)" ng-model="searchItem.PlatformId">
                <span class="advanced-search" ng-click="search('unfold')">高级搜索</span>
                <div class="search-before-btn">
                    <div class="batch mr">
                        <menu-select menu-config="batch"></menu-select>
                    </div>
                    <div class="btn pl-import mr"><i class="iconfont"></i>铺货导入</div>
                    <div class="batch mr">
                        <menu-select menu-config="relation"></menu-select>
                    </div>
                    <div class="btn update-info mr" ng-click="showModal(-1,'inventoryQueryModal')">平台库存查询</div>
                    <div class="btn update-info mr" ng-click="showModal(-1,'inventoryWayModal')">库存扣减方式</div>
                    <div class="btn klwk-cancle exportBtn"><i class="iconfont"></i>导出</div>
                </div>
            </div>
            <!--高级搜索展开-->
            <div class="search-after" ng-show="!showSearchElement">
                <!--店铺名称-->
                <div class="search-check" ng-if="radioStore.status == 'selecting'">
                    <label>店铺名称</label>
                    <div class="more-before" ng-if="store == 'radio'">
                        <div>
                            <span ng-click="radioList('radioStore','storeid',item.name,item.id);" class="check-span" ng-repeat="item in searchStore | limitTo: 6">{{item.name}}</span>
                        </div>
                        <div class="others-btn">
                            <div class="btn klwk-spread mr" ng-click="module('store','more')">更多<i class="iconfont"></i></div>
                        </div>
                    </div>
                    <div class="more-after" ng-if="store == 'more'">
                        <div class="enums">
                            <input class="klw-search" type="text" ng-keyup="singleWordSearch(queryStore,'singleWordData')" ng-model="queryStore" placeholder="店铺名称">
                            <div class="word-search">
                                <span class="search-letter">所搜的店铺</span>
                                <span class="singleWord" ng-click="singleWordQuery(item,'singleWordData','searchStore',$event)"  ng-repeat="item in singleWord">{{item}}</span>
                            </div>
                        </div>
                        <div>
                            <span ng-click="radioList('radioStore','storeid',item.name,item.id);" ng-show="item.isHide == false" class="check-span" ng-repeat="item in searchStore">{{item.name}}</span>
                        </div>
                        <div class="others-btn">
                            <div class="btn klwk-spread mr" ng-click="module('store','radio')">收起<i class="iconfont"></i></div>
                        </div>
                    </div>
                </div>
                <!--表单输入-->
                <div class="mt">
                    <div class="row odd">
                        <div class="column">
                            <label>平台商品ID</label>
                        </div>
                        <div class="column">
                            <label>平台规格ID</label>
                        </div>
                        <div class="column">
                            <label>商家商品编码</label>
                        </div>
                        <div class="column">
                            <label>商家规格编码</label>
                        </div>
                    </div>
                    <div class="row even">
                        <div class="column">
                            <input type="text" class="klw-input" ng-model="searchItem.PlatformId" placeholder="请输入平台商品ID">
                        </div>
                        <div class="column">
                            <input type="text" class="klw-input" ng-model="searchItem.PlatformSkuId" placeholder="请输入平台规格ID">
                        </div>
                        <div class="column">
                            <input type="text" class="klw-input" ng-model="searchItem.PlatformOutCode" placeholder="请输入商家商品编码">
                        </div>
                        <div class="column">
                            <input type="text" class="klw-input" ng-model="searchItem.PlatformSkuOutCode" placeholder="请输入商家规格编码">
                        </div>
                    </div>
                    <div class="row odd">
                        <div class="column">
                            <label>系统商品编码</label>
                        </div>
                        <div class="column">
                            <label>系统规格编码</label>
                        </div>
                        <div class="column">
                            <label>平台状态</label>
                        </div>
                        <div class="column">
                            <label>扣减方式</label>
                        </div>
                    </div>
                    <div class="row even">
                        <div class="column">
                            <input type="text" class="klw-input" ng-model="searchItem.ProductCode" placeholder="请输入系统商品编码">
                        </div>
                        <div class="column">
                            <input type="text" class="klw-input" ng-model="searchItem.ProductSkuCode" placeholder="请输入系统规格编码">
                        </div>
                        <div class="column">
                            <input type="text" class="klw-input" ng-model="searchItem.PlatformStatus" placeholder="请输入平台状态">
                        </div>
                        <div class="column">
                            <input type="text" class="klw-input" ng-model="searchItem.DeductionMethod" placeholder="请输入扣减方式">
                        </div>
                    </div>
                </div>
                <div class="search-after-btn">
                    <button class="btn btn-success btn-78 mr"  ng-click="search('ensure')">确定</button>
                    <button class="btn btn-default btn-78 mr" ng-click="search('cancel')">取消</button>
                    <button class="btn btn-default btn-78" ng-click="search('empty')">清空</button>
                </div>
            </div>
        </div>

        <div class="product-body">

            <div class="top">
                <div class="body-check" ng-click="queryCondition('isassociated')">
                    <div class="klwk-check-f" ng-if="queryItem.isassociated === ''"><i class="iconfont"></i></div>
                    <div class="klwk-check-x" ng-if="queryItem.isassociated === true"><i class="iconfont"></i></div>
                    <div class="klwk-check" ng-if="queryItem.isassociated === false"><i class="iconfont"></i></div>
                    <span class="ml">已关联</span>
                </div>
                <div class="body-check" ng-click="queryCondition('isautouploadinventory')">
                    <div class="klwk-check-f" ng-if="queryItem.isautouploadinventory === ''"><i class="iconfont"></i></div>
                    <div class="klwk-check-x" ng-if="queryItem.isautouploadinventory === true"><i class="iconfont"></i></div>
                    <div class="klwk-check" ng-if="queryItem.isautouploadinventory === false"><i class="iconfont"></i></div>
                    <span class="ml">自动上传</span>
                </div>
                <div class="body-check" ng-click="queryCondition('isautolisting')">
                    <div class="klwk-check-f" ng-if="queryItem.isautolisting === ''"><i class="iconfont"></i></div>
                    <div class="klwk-check-x" ng-if="queryItem.isautolisting === true"><i class="iconfont"></i></div>
                    <div class="klwk-check" ng-if="queryItem.isautolisting === false"><i class="iconfont"></i></div>
                    <span class="ml">自动上架</span>
                </div>
                <div class="body-check" ng-click="queryCondition('isautodelisting')">
                    <div class="klwk-check-f" ng-if="queryItem.isautodelisting === ''"><i class="iconfont"></i></div>
                    <div class="klwk-check-x" ng-if="queryItem.isautodelisting === true"><i class="iconfont"></i></div>
                    <div class="klwk-check" ng-if="queryItem.isautodelisting === false"><i class="iconfont"></i></div>
                    <span class="ml">自动下架</span>
                </div>

                <div class="configuration">
                    <div class="ti-pagination">
                        <span class="num"><span>{{first}}</span>-<span>{{last}}</span> </span>
                        / 共 <span>{{paginationConf.totalItems}}</span>

                <span class="prev" ng-class="{disabled: conf.currentPage == 1}"><i class="iconfont"
                                                                                   ng-click="prev()"></i></span>

                <span class="next" ng-class="{disabled: conf.currentPage == conf.numberOfPages}"><i class="iconfont"
                                                                                                    ng-click="next()"></i></span>

                <span class="config-column" ng-mouseover="isHover()" ng-mouseleave="isHover()"
                      ng-click="showColumnConfigPanel()"><i class="iconfont"></i></span>

                        <span class="listAllocationHover" ng-show="listAllocationHover">列表配置</span>
                    </div>
                </div>

            </div>

            <div class="bottom">
                <div class="body-table ">
                    <div class="left-table">
                        <table id="goodsRelationshipTable" class="display" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th ng-click="selectAll()">
                                    <div class="klwk-check" ng-hide="isalldatacheck"><i class="iconfont"></i></div>
                                    <div class="klwk-check-x" ng-show="isalldatacheck"><i class="iconfont"></i></div>
                                </th>
                                <th>操作</th>
                                <th ng-repeat="obj in theadList">{{obj.name}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="obj in tableList"  ng-click="associationFunc($index);" ng-class="{true:'current',false:''}[obj.isQuerySelect]">
                                <td ng-click="selectItem($index)">
                                    <div class="klwk-check" ng-hide="obj.isdatacheck"><i class="iconfont"></i></div>
                                    <div class="klwk-check-x" ng-show="obj.isdatacheck"><i class="iconfont"></i></div>
                                </td>
                                <td class="over-show">
                                    <div class="oprate">
                                        <div class="tr-icon"><i class="iconfont icon-icon2"></i></div>
                                        <ul class="oprate-list">
                                            <li ng-click="addTab('库存上传','../template/inventoryManage/inventoryUpload.html')">库存上传</li>
                                            <li  ng-click="showModal($index,'setThresholdModal')">设置上下架阈值</li>
                                            <li ng-click="enableAutoUpload($index,true)" ng-class="{true:'disabled',false:''}[obj.isautouploadinventory]">启动自动上传</li>
                                            <li ng-click="disableAutoUpload($index,false)" ng-class="{true:'',false:'disabled'}[obj.isautouploadinventory]">停用自动上传</li>
                                            <li ng-click="enableAutoListing($index,true)" ng-class="{true:'disabled',false:''}[obj.isautolisting]">启动自动上架</li>
                                            <li ng-click="disableAutoListing($index,false)" ng-class="{true:'',false:'disabled'}[obj.isautolisting]">停用自动上架</li>
                                            <li ng-click="enableAutoDeListing($index,true)" ng-class="{true:'disabled',false:''}[obj.isautodelisting]">启动自动下架</li>
                                            <li ng-click="disableAutoDeListing($index,false)" ng-class="{true:'',false:'disabled'}[obj.isautodelisting]">停用自动下架</li>
                                            <li ng-click="showModal($index,'deleteModal')">删除</li>
                                        </ul>
                                    </div>
                                </td>
                                <td ng-repeat="item in theadList">
                                    {{obj[item.tag] | isBoolean}}
                                    <i class="iconfont icon-icon9 correct" ng-if="obj[item.tag] === true"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="right-table">
                        <h5 class="add-title">关联商品</h5>
                        <div class="select-product">
                            <div class="btn add-order mr" ng-click="showModal(-1,'productSelectModal')">选择商品</div>
                            <div class="btn add-order" ng-click="showModal(-1,'groupSelectModal')">选择组合</div>
                        </div>
                        <div class="odd">
                            <label>商品名称</label>
                            <div type="text" class="klw-input">{{association.producttitle?association.producttitle:association.productname}}</div>
                        </div>
                        <div class="odd">
                            <label>商品编码</label>
                            <div type="text" class="klw-input">{{association.productcode}}</div>
                        </div>
                        <div class="odd">
                            <label>规格名称</label>
                            <div type="text" class="klw-input">{{association.productskutitle?association.productskutitle:association.code}}</div>
                        </div>
                        <div class="odd">
                            <label>规格编码</label>
                            <div type="text" class="klw-input">{{association.productskucode?association.productskucode:association.description}}</div>
                        </div>
                        <div class="odd">
                            <label>商品类型</label>
                            <div type="text" class="klw-input">{{association.producttype | productFilter :'producttype'}}</div>
                        </div>
                        <div class="odd">
                            <label>上架阀值</label>
                            <input type="text" class="klw-input" placeholder="请输入上架阀值" ng-model="association.listingthreshold">
                        </div>
                        <div class="odd">
                            <label>下架阀值</label>
                            <input type="text" class="klw-input" placeholder="请输入下架阀值" ng-model="association.delistingthreshold">
                        </div>
                        <div class="odd">
                            <label>预售日期</label>
                            <input class="klw-input datePlugin" type="text" readonly ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd">
                        </div>
                        <div class="mt">
                            <button type="button" class="btn btn-success btn-78 mr" ng-click="productSave()">保存</button>
                            <button type="button" class="btn btn-default btn-78" ng-click="productDelete()">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <tm-pagination conf="paginationConf"></tm-pagination>

        <!-- 右侧列表配置 -->
        <div>
            <tm-listallocation allo="allocation"></tm-listallocation>
        </div>
    </div>

    <!--删除数据模态框-->
    <div class="cj-modal modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <span class="remind-text">删除过后数据将不再服务器保存,是否确定?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-78 mr" ng-click="delete()">确定</button>
                    <button type="button" class="btn btn-default btn-78" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--批量删除数据模态框-->
    <div class="cj-modal modal fade" id="batchDeleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <span class="remind-text">删除过后数据将不再服务器保存,是否确定?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-78 mr" ng-click="batchDeleteOp()">确定</button>
                    <button type="button" class="btn btn-default btn-78" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 设置上下架阀值模态框 -->
    <div class="cj-modal modal fade" id="setThresholdModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">设置上下架阀值</h4>
                </div>
                <div class="modal-body cj-pr-two">
                    <div class="modal-column">
                        <label>上架阀值</label>
                        <input type="text" ng-model="activeItem.topThreshold" class="klw-input" name="empty" placeholder="请输入上架阀值">
                    </div>
                    <div class="modal-column">
                        <label>下架阀值</label>
                        <input type="text" ng-model="activeItem.bottomThreshold" class="klw-input" name="empty" placeholder="请输入下架阀值">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-78 mr" ng-click="setthreshold()">确定</button>
                    <button type="button" class="btn btn-default btn-78" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 批量设置上下架阀值模态框 -->
    <div class="cj-modal modal fade" id="batchSetThresholdModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">设置上下架阀值</h4>
                </div>
                <div class="modal-body cj-pr-two">
                    <div class="modal-column">
                        <label>上架阀值</label>
                        <input type="text" ng-model="activeItem.topThreshold" class="klw-input" name="empty" placeholder="请输入上架阀值">
                    </div>
                    <div class="modal-column">
                        <label>下架阀值</label>
                        <input type="text" ng-model="activeItem.bottomThreshold" class="klw-input" name="empty" placeholder="请输入下架阀值">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-78 mr" ng-click="batchSetthreshold()">确定</button>
                    <button type="button" class="btn btn-default btn-78" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 铺货下载模态框 -->
    <div class="cj-modal modal form fade" id="shopDownloadModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-w600">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">铺货下载</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-column input-time">
                        <input class="klw-input datePlugin" type="text" readonly ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd" ng-model="downloadItem.startTime">
                        <div class="line"></div>
                        <input class="klw-input datePlugin" type="text" readonly ng-click="showDatetimePick($event)" data-date-format="yyyy-mm-dd" ng-model="downloadItem.endTime">
                    </div>
                    <div class="modal-column input-check">
                        <div class="body-check" ng-click="checkItem(downloadItem,'isUpload')">
                            <div class="klwk-check" ng-hide="downloadItem.isUpload"><i class="iconfont"></i></div>
                            <div class="klwk-check-x" ng-show="downloadItem.isUpload"><i class="iconfont"></i></div>
                            <span>自动上传</span>
                        </div>
                        <div class="body-check"  ng-click="checkItem(downloadItem,'isPutaway')">
                            <div class="klwk-check" ng-hide="downloadItem.isPutaway"><i class="iconfont"></i></div>
                            <div class="klwk-check-x" ng-show="downloadItem.isPutaway"><i class="iconfont"></i></div>
                            <span>自动上架</span>
                        </div>
                        <div class="body-check"  ng-click="checkItem(downloadItem,'isSoldout')">
                            <div class="klwk-check" ng-hide="downloadItem.isSoldout"><i class="iconfont"></i></div>
                            <div class="klwk-check-x" ng-show="downloadItem.isSoldout"><i class="iconfont"></i></div>
                            <span>自动下架</span>
                        </div>
                        <div class="body-check"  ng-click="checkItem(downloadItem,'isDefault')">
                            <div class="klwk-check" ng-hide="downloadItem.isDefault"><i class="iconfont"></i></div>
                            <div class="klwk-check-x" ng-show="downloadItem.isDefault"><i class="iconfont"></i></div>
                            <span>覆盖原有设置</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-column">
                            <label>店铺<span class="important">*</span></label>
                            <search-select search-config="selectStore1"></search-select>
                        </div>
                        <div class="modal-column">
                            <label>商品状态</label>
                            <pull-select pull-config="selectStatus"></pull-select>
                        </div>
                    </div>
                    <div class="row odd" ng-if="isDownload == 'shopDownload'">
                        <div class="modal-column modal-remark">
                            <label>
                                平台ID
                                <div class="tip-fields">
                                    <div class="circle">!</div>
                                    <div class="tip-text">输入多个平台ID时请注意换行</div>
                                </div>
                            </label>
                            <div class="remark">
                                <textarea ng-model="downloadItem.ProductId"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="isDownload == 'shopDownload'">
                        <div class="modal-column modal-remark">
                            <label>
                                商品编码
                                <div class="tip-fields" style="left: 92px;">
                                    <div class="circle">!</div>
                                    <div class="tip-text" style="width: 200px;">输入多个商品编码时请注意换行</div>
                                </div>
                            </label>
                            <div class="remark">
                                <textarea ng-model="downloadItem.ProductCode"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-78 mr" ng-click="goodDownLoad()">开始下载</button>
                    <button type="button" class="btn btn-default btn-78" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--平台库存查询模态框-->
    <div class="cj-modal  modal fade form" id="inventoryQueryModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">平台库存查询</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-column odd">
                        <label>店铺<span class="important">*</span></label>
                        <search-select search-config="selectStore2"></search-select>
                    </div>
                    <div class="row odd">
                        <div class="modal-column modal-remark">
                            <label>
                                平台ID
                                <div class="tip-fields">
                                    <div class="circle">!</div>
                                    <div class="tip-text">输入多个平台ID时请注意换行</div>
                                </div>
                            </label>
                            <div class="remark">
                                <textarea ng-model="platformItem.productId"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-column modal-remark">
                            <label>
                                商品编码
                                <div class="tip-fields" style="left: 92px;">
                                    <div class="circle">!</div>
                                    <div class="tip-text" style="width: 200px;">输入多个商品编码时请注意换行</div>
                                </div>
                            </label>
                            <div class="remark">
                                <textarea ng-model="platformItem.productCode"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-78 mr" ng-click="inventoryQuery()">确定</button>
                    <button type="button" class="btn btn-default btn-78" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 库存扣减方式模态框 -->
    <div class="cj-modal modal fade form" id="inventoryWayModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-w600">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改库存扣减方式</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="modal-column">
                            <label>店铺<span class="important">*</span></label>
                            <search-select search-config="selectStore3"></search-select>
                        </div>
                        <div class="modal-column">
                            <label>商品状态</label>
                            <pull-select pull-config="selectGoodStatus"></pull-select>
                        </div>
                    </div>
                    <div class="row odd">
                        <div class="modal-column">
                            <label>减库存方式<span class="important">*</span></label>
                            <pull-select pull-config="selectReduce"></pull-select>
                        </div>
                        <div class="modal-column"></div>
                    </div>
                    <div class="row">
                        <div class="modal-column modal-remark">
                            <label>
                                平台ID
                                <div class="tip-fields">
                                    <div class="circle">!</div>
                                    <div class="tip-text">输入多个平台ID时请注意换行</div>
                                </div>
                            </label>
                            <div class="remark">
                                <textarea ng-model="deductionItem.productId"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-78 mr" ng-click="inventory()">开始修改</button>
                    <button type="button" class="btn btn-default btn-78" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--选择商品模态框-->
    <div class="modal fade product-list" id="productSelectModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="product-head">
                    <div class="product-title">选择商品</div>
                    <div class="product-close" ng-click="hideModal('productSelectModal')"><i class="icon iconfont icon-icon_guanbisousuo"></i></div>
                </div>
                <div class="product-body">
                    <div>
                        <div class="row">
                            <div class="column">
                                <label>商品代码</label>
                            </div>
                            <div class="column">
                                <label>商品名称</label>
                            </div>
                            <div class="column">
                                <label>规格代码</label>
                            </div>
                        </div>
                        <div class="row odd">
                            <div class="column">
                                <input class="klw-input" ng-model="productItem.productCode" type="text"/>
                            </div>
                            <div class="column">
                                <input class="klw-input" ng-model="productItem.productName" type="text"/>
                            </div>
                            <div class="column">
                                <input class="klw-input" ng-model="productItem.code" type="text"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <label>规格名称</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <input class="klw-input" ng-model="productItem.description" type="text"/>
                            </div>
                        </div>
                        <div class="mt">
                            <button class="btn btn-success btn-78 mr" ng-click="associationProduct.search()">确认</button>
                            <button class="btn btn-default btn-78" ng-click="associationProduct.searchCancel()">取消</button>
                        </div>
                    </div>

                    <div class="mt">
                        <div class="body-table">
                            <table id="getProductTable" class="display" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th ng-repeat="obj in theadSkuList">{{obj.name}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="obj in tableSkuList" ng-click="associationProduct.select(obj,$index)" ng-class="{true:'current',false:''}[obj.isProductSelect]">
                                    <td ng-repeat="item in theadSkuList">{{obj[item.tag]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <tm-pagination conf="paginationSkuConf"></tm-pagination>
                    </div>

                    <div class="mt">
                        <div class="body-table" style="max-height: 450px;overflow: auto;">
                            <table>
                                <thead>
                                <tr>
                                    <th>仓库名称</th>
                                    <th>库存数</th>
                                    <th>可用数</th>
                                    <th>可销数</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in inventoryNum">
                                    <td>{{item.warehousename}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.canUseQuantity}}</td>
                                    <td>{{item.canSaleQuantity}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="footer mt">
                            <button class="btn btn-success btn-78 mr" ng-click="associationProduct.save()">保存</button>
                            <button class="btn btn-default btn-78" ng-click="hideModal('productSelectModal')">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--选择组合套装模态框-->
    <div class="modal fade product-list" id="groupSelectModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="product-head">
                    <div class="product-title">选择组合套装</div>
                    <div class="product-close" ng-click="hideModal('groupSelectModal')"><i class="icon iconfont icon-icon_guanbisousuo"></i></div>
                </div>
                <div class="product-body">
                    <div>
                        <div class="row">
                            <div class="column">
                                <label>套装代码</label>
                            </div>
                            <div class="column">
                                <label>套装名称</label>
                            </div>
                            <div class="column">
                                <label>规格编码</label>
                            </div>
                        </div>
                        <div class="row odd">
                            <div class="column">
                                <input class="klw-input" ng-model="groupItem.code" type="text"/>
                            </div>
                            <div class="column">
                                <input class="klw-input" ng-model="groupItem.description" type="text"/>
                            </div>
                            <div class="column">
                                <input class="klw-input" ng-model="groupItem.skuCode" type="text"/>
                            </div>
                        </div>
                        <div class="mt">
                            <button class="btn btn-success btn-78 mr" ng-click="associationGroup.search()">确认</button>
                            <button class="btn btn-default btn-78" ng-click="associationGroup.searchCancel()">取消</button>
                        </div>
                    </div>

                    <div class="mt">
                        <div class="body-table">
                            <table id="getGroupTable" class="display" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th ng-repeat="obj in theadGroupList">{{obj.name}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="obj in tableGroupList" ng-click="associationGroup.select(obj,$index)" ng-class="{true:'current',false:''}[obj.isGroupSelect]">
                                    <td ng-repeat="item in theadGroupList">
                                        {{obj[item.tag] | isBoolean}}
                                        <i class="iconfont icon-icon9 correct" ng-if="obj[item.tag] === true"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <tm-pagination conf="paginationGroupConf"></tm-pagination>
                    </div>
                    <div class="footer mt">
                        <button class="btn btn-success btn-78 mr" ng-click="associationGroup.save()">保存</button>
                        <button class="btn btn-default btn-78" ng-click="hideModal('groupSelectModal')">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- /铺货关系 -->





