<!-- 商品信息 -->

<div id="productInformation" class="cj-product" ng-controller="productInformationController">
    <div class="product-content">

        <div class="is-select" ng-if="num != 0">
            <span>已选择</span>
            <div class="select-box" ng-if="radioStatus.status == 'selected'">
                <span class="select-title">商品状态：</span>
                <span class="select-content">{{radioStatus.content}}</span>
                <i class="icon iconfont icon-icon_guanbisousuo" ng-click="closeSelect('radioStatus','status','status')"></i>
            </div>
            <div class="select-box" ng-if="radioBrand.status == 'selected'">
                <span class="select-title">商品品牌：</span>
                <span class="select-content">{{radioBrand.content}}</span>
                <i class="icon iconfont icon-icon_guanbisousuo" ng-click="closeSelect('radioBrand','brand','brand')"></i>
            </div>
        </div>


        <div class="product-header" ng-class="{true:'search-top',false:''}[num != 0]">
            <!-- 高级搜索 -->
            <div class="search-before" ng-show="showSearchElement">
                <input type="text" class="klw-search" ng-model="searchItem.productCode" placeholder="商品编码" ng-keyup="myKeyup($event)">
                <span class="advanced-search" ng-click="search('unfold')">高级搜索</span>
                <div class="search-before-btn">
                    <div class="batch mr">
                        <menu-select menu-config="menuInfo"></menu-select>
                    </div>
                   <div class="btn pl-import mr"><i class="iconfont"></i>导入商品</div>
                   <div class="btn pl-import mr"><i class="iconfont"></i>导入变价</div>
                   <div class="btn add-order add-product-btn" ng-click="add()"><i class="iconfont"></i>新增商品</div>
               </div>
            </div>
            <div class="search-after" ng-show="!showSearchElement">
                <!--商品状态-->
                <div class="search-check" ng-if="radioStatus.status == 'selecting'">
                    <label>商品状态</label>
                    <div>
                        <span class="check-span" ng-click="radioList('radioStatus','status',item,$index);" ng-repeat="item in productStatus">{{item}}</span>
                    </div>
                </div>
                <!--商品品牌-->
                <div class="search-check" ng-if="radioBrand.status == 'selecting'">
                    <label>商品品牌</label>
                    <div class="more-before" ng-if="brand == 'radio'">
                        <div>
                            <span class="check-span" ng-click="radioList('radioBrand','brand',item.name,item.name);" ng-repeat="item in productBrandData | limitTo: 6">{{item.name}}</span>
                        </div>
                        <div class="others-btn">
                            <div class="btn klwk-spread mr" ng-click="productMore('brand','more')">更多<i class="iconfont"></i></div>
                        </div>
                    </div>
                    <div class="more-after" ng-if="brand == 'more'">
                        <div class="enums">
                            <input class="klw-search" ng-keyup="singleWordSearch(queryBrand,'singleWordData')" ng-model="queryBrand" type="text" placeholder="商品品牌">
                            <div class="word-search">
                                <span class="search-letter">所搜的品牌</span>
                                <span class="singleWord" ng-click="singleWordQuery(item,'singleWordData','productBrandData',$event)" ng-repeat="item in singleWord">{{item}}</span>
                            </div>
                        </div>
                        <div>
                            <span class="check-span" ng-show="item.isHide == false" ng-repeat="item in productBrandData" ng-click="radioList('radioBrand','brand',item.name,item.name);">{{item.name}}</span>
                        </div>
                        <div class="others-btn">
                            <div class="btn klwk-spread mr" ng-click="productMore('brand','radio')">收起<i class="iconfont"></i></div>
                        </div>
                    </div>
                </div>
                <!--表单输入-->
                <div class="mt">
                    <div class="row odd">
                        <div class="column">
                            <label>商品编码</label>
                        </div>
                        <div class="column">
                            <label>商品名称</label>
                        </div>
                        <div class="column">
                            <label>规格编码</label>
                        </div>
                        <div class="column">
                            <label>规格名称</label>
                        </div>
                    </div>
                    <div class="row even">
                        <div class="column">
                            <input type="text" class="klw-input" placeholder="请输入商品编码" ng-model="searchItem.productCode">
                        </div>
                        <div class="column">
                            <input type="text" class="klw-input" placeholder="请输入商品名称" ng-model="searchItem.productName">
                        </div>
                        <div class="column">
                            <input type="text" class="klw-input" placeholder="请输入规格编码" ng-model="searchItem.standardCode">
                        </div>
                        <div class="column">
                            <input type="text" class="klw-input" placeholder="请输入规格名称" ng-model="searchItem.standardName">
                        </div>
                    </div>
                </div>
                <div class="search-after-btn">
                    <button class="btn btn-success btn-78 mr"  ng-click="search('ensure')">确定</button>
                    <button class="btn btn-default btn-78 mr" ng-click="search('cancel')">取消</button>
                    <button class="btn btn-default btn-78" ng-click="search('empty')">清空</button>
                </div>
            </div>
        </div>

        <div class="product-body">

            <div class="configuration">
                <div class="ti-pagination">
                    <span class="num"><span>{{first}}</span>-<span>{{last}}</span> </span>
                    / 共 <span>{{paginationConf.totalItems}}</span>

                <span class="prev" ng-class="{disabled: conf.currentPage == 1}"><i class="iconfont"
                                                                                   ng-click="prev()"></i></span>

                <span class="next" ng-class="{disabled: conf.currentPage == conf.numberOfPages}"><i class="iconfont"
                                                                                                    ng-click="next()"></i></span>
                <span class="config-column" ng-mouseover="isHover()" ng-mouseleave="isHover()"
                      ng-click="showColumnConfigPanel()"><i class="iconfont"></i></span>

                    <span class="listAllocationHover" ng-show="listAllocationHover">列表配置</span>
                </div>
            </div>

            <div class="body-table">
                <table id="productTable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th ng-click="selectAll()">
                                <div class="klwk-check" ng-hide="isalldatacheck"><i class="iconfont"></i></div>
                                <div class="klwk-check-x" ng-show="isalldatacheck"><i class="iconfont"></i></div>
                            </th>
                            <th>操作</th>
                            <th ng-repeat="obj in theadList">{{obj.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in tableList">
                            <td ng-click="selectItem($index)">
                                <div class="klwk-check" ng-hide="obj.isdatacheck"><i class="iconfont"></i></div>
                                <div class="klwk-check-x" ng-show="obj.isdatacheck"><i class="iconfont"></i></div>
                            </td>
                            <td class="over-show">
                                <div class="oprate">
                                    <div class="tr-icon"><i class="iconfont icon-icon2"></i></div>
                                    <ul class="oprate-list">
                                        <li ng-click="detail($index)">商品详情</li>
                                        <li ng-click="singleWMS($index)" ng-class="{true:'',false:'disabled'}[obj.status != 2]">转入WMS</li>
                                        <li ng-click="edit($index)" ng-class="{true:'',false:'disabled'}[obj.status != 2]">修改</li>
                                        <li ng-class="{true:'',false:'disabled'}[obj.status == 0]" ng-click="singleAudit($index)">审核</li>
                                        <li ng-class="{true:'',false:'disabled'}[obj.status != 2]" ng-click="showModal($index,'isDisabledModal')">禁用</li>
                                    </ul>
                                </div>
                            </td>
                            <td ng-repeat="item in theadList">
                                {{obj[item.tag] | isBoolean | isZero:item.tag}}
                                <i class="iconfont icon-icon9 correct" ng-if="(obj[item.tag] | productFilter:item.tag) === true"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <tm-pagination conf="paginationConf"></tm-pagination>

        <!-- 右侧列表配置 -->
        <div>
            <tm-listallocation allo="allocation"></tm-listallocation>
        </div>

    </div>

    <!--禁用模态框-->
    <div class="cj-modal modal fade" id="isDisabledModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <span class="remind-text">数据禁用后将不可使用,是否继续禁用?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-78 mr" ng-click="singleDisabled()">确定</button>
                    <button type="button" class="btn btn-default btn-78" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--批量禁用模态框-->
    <div class="cj-modal modal fade" id="batchIsDisabledModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <span class="remind-text">数据禁用后将不可使用,是否继续禁用?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-78 mr" ng-click="batchDisabledOp()">确定</button>
                    <button type="button" class="btn btn-default btn-78" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /商品信息 -->
